/* app css stylesheet */

.banner {
    padding: 10px 0 10px 0;
    background-color: #221E1F;
    color: white;
    text-align: center;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
}

body {
    background-color: #DDDDDD;
}

.container-fluid {
    width: 1000px;
    background-color: #FFFFFF;
    margin: 0 auto;
    text-align: center;
}
.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

.border {
    border:2px solid #ddd;
    border-radius: 5px;
    margin: 0 0 0 8px;
    padding: 1px;
    -moz-border-radius: 5px;
    background-color: #eee;
    padding:3px;
    margin:5px;
}

table#mainfretboard { 
    margin-left: 15%
}

.fretclonecontainer {
    width: 1px;
    background: red;
    margin: 0 auto;
}

table#mainfretboard tr td { 
    border:1px solid black;
    font-size: 28px;
    width:46px;
    height:25px;
    text-align:center;
}

table#fretclone { 
    margin: -182px 0 0 10%;
}

div#activechords { 
    text-align:center;
    margin: 10px 0 10px 0;
}

table#fretnumbers { 
    margin: 0 20px 0 10%;
}

.fontred {
    color: #FF0000;
}

.fretselector:hover {
    background-color: #9e7a7a;
}

.fretnumber a:hover {
    text-decoration: none;
}

th.fretnumber { 
    border:0px solid black;
    font-size: 15px;
    width:46px;
    height:25px;
    text-align:center;
}

table#fretclone tr td { 
    border:1px solid transparent;
    background-color:transparent;
    font-size:18px;
    font-weight:bold;
    width:46px;
    height:25px;
    text-align:center;
    z-index:1;
}

div.controlscontainer {
    margin-top: 10px;
    padding: 15px;
    border: 2px dashed black;
    text-align: left;
    overflow: hidden;
}

div.leftcolumn {
    float: left;
    width: 33%;
}

div.rightcolumn {
    float: right;
    width: 33%;
}

div.centercolumn {
    margin: 0 34% 0 34%;
}

div.circle { 
    font-size:12pt;
    margin-left: auto;
    margin-right: auto;
    background: #854044;
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 50%;
    text-align:center;
}

div.fretguidecircle { 
    margin-left: auto;
    margin-right: auto;
    background: #000000;
    width: 15px;
    height: 15px;
    line-height: 30px;
    border-radius: 50%;
    text-align:center;
}

.interval-text  { 
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
}

.center { 
    margin-left: auto;
    margin-right: auto;
}

#fbcontainer {
    text-align: center;
    border: 1px dashed black;
    margin: 0 auto;
    position: relative;
    padding-top: 50px;
}

#fretboard {
    margin: 0 auto;
}

