/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

table#mainfretboard { 
    position:absolute;
    top:68px;
    left:300px;
    border:1px solid red; 
}

table#mainfretboard tr td { 
    border:1px solid black;
    font-size: 28px;
    width:46px;
    height:25px;
    text-align:center;
}

table#fretclone { 
    position:absolute;
    top:51px;
    left:251px;
}

table#fretclone tr td { 
    margin: 0 auto;
    border:1px solid transparent;
    background-color:transparent;
    font-size:18px;
    font-weight:bold;
    width:46px;
    height:25px;
    text-align:center;
    z-index:1;
}

div.circle { 
    font-size:12pt;
    margin-left: auto;
    margin-right: auto;
    background: #791396;
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 50%;
    text-align:center;
}

div.fretguidecircle { 
    margin-left: auto;
    margin-right: auto;
    background: #000000;
    width: 15px;
    height: 15px;
    line-height: 30px;
    border-radius: 50%;
    text-align:center;
}

.interval-text  { 
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
}

.center { 
    margin-left: auto;
    margin-right: auto;
}
