<!DOCTYPE html>
<html>
<head>
    <title>Fretboard</title>
    <meta charset="utf-8" />
</head>
<body ng-app>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <!--Sidebar content-->

      Note: 
      <select ng-model="note" ng-options="n for n in notes">
      </select>

      Chord Type:
      <select ng-model="chordType" ng-options="ct for ct in chordTypes">
      </select>

      Tuning:
      <select ng-model="tuning" ng-options="t for t in tunings">
      </select>

      <button ng-click="updateFretboard()">Generate!</button>

    </div>

    <div class="span10">
      <!--Body content-->
      <table cellspacing='0'>
          <tr ng-repeat="i in [5,4,3,2,1,0]">
              <td ng-repeat="j in [0,23] | makeRange">[{{ displayFret(i,j) }}]</td>
          </tr>
      </table>
      <p>{{ response }}</p>


    </div>
  </div>
</div>
</body>
</html>
