<!DOCTYPE html>
<html>
<head>
    <title>Fretboard</title>
    <meta charset="utf-8" />
</head>
<body ng-app>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <!--Sidebar content-->

      Key: 
      <select ng-model="note" ng-options="n.value as n.text for n in notes">
      </select>

      Chord Type:
      <select ng-model="chordType" ng-options="ct.value as ct.text for ct in chordTypes">
      </select>

      Tuning:
      <select ng-model="tuning" ng-options="t for t in tunings">
      </select>

      Low Range:
      <input ng-model="lowRange"></input>

      High Range:
      <input ng-model="highRange"></input>

      <button ng-click="getVoicing()">Voicing!</button>
      <button ng-click="updateFretboard()">Generate!</button>

    </div>

    <div id='fretboard'>
        <table id='mainfretboard' cellspacing='0'>
            <tbody>
            <tr ng-repeat="i in [4,3,2,1,0]">
                <td ng-repeat="j in [0,14] | makeRange">                
                    <div class='fretguidecircle' ng-show="displayFretmarker(i,j)">
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    

        <table id='fretclone' cellspacing='0'>
            <tbody>
            <tr ng-repeat="i in [5,4,3,2,1,0]">
                <td ng-repeat="j in [0,15] | makeRange">
                    <div class='circle' ng-show="displayFret(i,j)">
                        <div class='interval-text'>{{ getInterval(i,j) }}</div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    </div>
  </div>
</div>
</body>
</html>
