<!DOCTYPE html>
<html>
<head>
<title>Fretboard</title>
<meta charset="utf-8" />
</head>
<body ng-app>
<div class="banner">
    <h1>Chords for Url</h1>
</div>
<div ng-show="active_chords.length == 0">Your chords are loading fool!</div>
<div class="container-fluid">
    <div class="row-fluid">

        <div ng-repeat="chord in active_chords" class="fretboard">
            <fretboard displayfretnums='true' fretinfo='chord' numfrets='14' numstrings='6'></fretboard> 
        </div>

    </div>

</div>
</body>
</html>
