<!DOCTYPE html>
<html>
<head>
<title>Fretboard</title>
<meta charset="utf-8" />
</head>
<body ng-app>
<div class="banner">
    <h1>Chords for Url</h1>
</div>
<div ng-show="!active_chords._resolved">Your chords are loading fool!</div>
<div class="container-fluid">
    <div class="row-fluid">

        <div class='leftvsplit'>
            <div ng-repeat="chord in active_chords | every: 2:0" class="fretboard">
                <h2> {{ chord.name }} </h2>
                <fretboard displayfretnums='true' fretinfo='chord.fret_info' numfrets='4' numstrings='6'></fretboard> 
            </div>
        </div>

        <div class='rightvsplit'>
            <div ng-repeat="chord in active_chords | every: 2:1" class="fretboard">
                <h2> {{ chord.name }} </h2>
                <fretboard displayfretnums='true' fretinfo='chord.fret_info' numfrets='4' numstrings='6'></fretboard> 
            </div>
        </div>

    </div>

</div>
</body>
</html>
